<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Hot or Cat?" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://4.bp.blogspot.com/-8KMHR_yHZgY/TwlnSzbjvnI/AAAAAAAAAT4/-qB22fmnGoE/s640/cute-cat-sleeping.jpg" />
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Hot or Cat</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    <link rel="stylesheet" href="./main.css"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="main container" ng-app ng-controller="CatCtrl">

    <div class="title">
        <h1>Hot or Cat?</h1>
        <p class="lead">You know what to do. </p>
    </div>

    <div class="pictures jumbotron row col-md-10 col-md-offset-1">
        <div class="col-md-6">
            <img class="catpic" ng-src="{{hot}}">
            <button type="button" class="btn btn-success" ng-click="hotClick()">Hot</button>
        </div>
        <div class="col-md-6">
            <img class="hotpic" ng-src="{{cat}}">
            <button type="button" class="btn btn-success" ng-click="catClick()">Cat</button>
        </div>
    </div>
    <div class="row">
        <div class="scoreboard panel panel-primary col-md-offset-4 col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">Scoreboard</h3>
            </div>
            <div class="panel-body ">
                <div class="row titles">
                    <div class="col-md-6">Hot</div>
                    <div class="col-md-6">Cat</div>
                </div>
                <div class="row scores">
                    <div class="col-md-6">{{hotScore}}</div>
                    <div class="col-md-6">{{catScore}}</div>
                </div>
            </div>
        </div>
     </div>

    <div class="row footer">
        Made by <a href="http://brentbaum.com">Brent Baumgartner</a>. No rights reserved.
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="main.js"></script>
</body>
</html>
